# R/Rstudio files
.Rproj.user/*
SES.Rproj
.Rproj.user
*.RData
.Rhistory
.Rprofile
Rprof.out

# Packeage archives
*.tar.gz
*.zip

# Compiled to auxiliary files
*.html
*.pdf

# Other utils
desktop.ini
git-SES.lnk