S3method(SESplot,ses)
S3method(as.ses,list)
S3method(print,fmtSES)
S3method(summary,ses)
S3method(summary,statdives)
S3method(summary,tdr)
export(SESname)
export(SESplot)
export(SESsettings)
export(addLoc)
export(addVar)
export(as.ses)
export(checkVar)
export(convertTime)
export(datenum2posx)
export(depth)
export(extractBiom)
export(extractChl)
export(findDefaultVars)
export(findVar)
export(findVars)
export(idPixel)
export(importChl)
export(importSEAPOpred)
export(importSES)
export(is.SES)
export(is.ses)
export(is.stat)
export(is.stat3D)
export(is.tdr)
export(is.tdr3D)
export(isDay)
export(layerBiom)
export(mZeu2layer)
export(modelMorel)
export(ncgrid)
export(nstr)
export(nval)
export(per)
export(posx2date)
export(posx2ymd)
export(renames)
export(replaceMissing)
export(resetFmtSES)
export(saveFmtSES)
export(statFuns)
export(sunPos)
export(sunPosition)
export(text2posx)
export(userHeader)
export(whichSESobj)
export(ymd2posx)
import(R.matlab)
import(fields)
import(maps)
import(maptools)
import(ncdf)
